<?xml version="1.0"?>
<model>
  <name>LB_city</name>  <!-- Changed from KB_city to LB_city -->
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>  <!-- Updated SDF version -->

  <author>
    <name>Amit</name>
    <email>helpdesk@e-yantra.org</email>
  </author>

  <description>
    City For Krishi Bot e-Yantra Robotics Competition (eYRC) 2022-23
  </description>
</model>